@model MyCards.Models.IndexViewModel
@{
    ViewBag.Title = "ניהול";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="pull-right">
    <h4>עדכון הגדרות חשבון</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="pull-right">סיסמא:</dt>
        <dd class="pull-right">
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("שינוי סיסמא", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("יצירה", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
