<h5>מומלצים עבורך</h5>
<h4>לפי דירוגים קודמים</h4>
<ul>
    @foreach (var item in ViewBag.recommended)
    {
        <li>
            <label>@item.Name</label>
            <a href="#" class="recommended-items">
                <span class="recommended-ids hidden">@item.Id</span>
                <img src="data:image/png;base64,@item.Image" />
            </a>
        </li>
    }
</ul>
       
