@{
    ViewBag.Title = "Home Page";
}
<div style="display: flex; justify-content: flex-start;align-content:center;">
    

    <div id="filters" style="order:1;width: 10%;">
        <h5>מומלצים עבורך</h5>
        <h4>לפי דירוגים קודמים</h4>
        <ul>
            @foreach (var item in ViewBag.recommended)
            {
                <li>
                    <label>@item.Name</label>
                    <a href="#" class="recommended-items">
                    <span class="recommended-ids hidden">@item.Id</span>
                        <img src="data:image/png;base64,@item.Image"/>
                    </a>
                </li>
            }
        </ul>       
    </div>


    <div id="side" style="width: 20%; order:2;border-left: 1px solid #C9E5AA">

        <input id="searchBox" type="search" class="form-control" placeholder="חיפוש" style="width: 76%;;display: inline-block;">
            
        <div class="dropdown" style="display:inline-block;">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">סנן
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><label>נגישות</label><input id="accessibility-toggle" type="checkbox" data-toggle="toggle"/></li>
                <li><label>כשרות</label><input id="kosher-toggle" type="checkbox" data-toggle="toggle"></li>
            </ul>
        </div>

    @Html.Partial("_List")
        
    </div>

    <div id="map" style="width: 70%; order:3;">
    </div>
    <input type="hidden" id="mapAddresses" data-value="@ViewBag.restaurantsData" />
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/site/site.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhQ4O1dzFHh07ZDQa3k_ECAbO_LDXQZBA&callback=initMap"></script>
