@{
    ViewBag.Title = "Home Page";
}


 <div id="map" style="width: 100%; height: 590px;">
 </div>
<input type="hidden"id="mapAddresses" data-value="@ViewBag.restaurantsData" />
<script>
    function initMap() {

        var addresses = $("#mapAddresses").data("value");
        var mapElement = document.getElementById('map');
        var mapOptions = {
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapElement, mapOptions);

        for (var i = 0; i < addresses.length; i++) {
            var myLatLng = new Object();

            myLatLng.lat = parseFloat(addresses[i].lat);
            myLatLng.lng = parseFloat(addresses[i].lng);
            
            var marker = new google.maps.Marker({
                map: map,
                position: myLatLng,
                title: addresses[i].name
            });
        }

        // Set map center to current location
        var initialLocation;

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
            initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map.setCenter(initialLocation);
                }, function () {
                });
            }
        // Browser doesn't support Geolocation
        else {
            alert("Geolocation service failed.");
        }

    }

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhQ4O1dzFHh07ZDQa3k_ECAbO_LDXQZBA&callback=initMap">
</script>
<script src="~/Scripts/jquery-1.10.2.js">    // Do not delete</script>
	
