@{
    ViewBag.Title = "Home Page";
}




<div id="load">

</div>

     


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/site/site.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhQ4O1dzFHh07ZDQa3k_ECAbO_LDXQZBA&callback=initMap"></script>
