body {
}

#searchBox {
}

#panel, #flip {
    border: solid 1px #c3c3c3;
}

#nav-header label.btn.btn-default.active {
    background-color: #BECEB0;
}

#nav-header label.btn.btn-default {
    background-color: #E0F3D1;
}

.dropdown-menu li {
    text-align: center;
}

#filters {
    border-left: 1px solid #C9E5AA;
}

.dropdown-menu label {
    margin-left: 6px;
}

.dropdown-menu li {
    margin-bottom: 5px;
}

#filters li {
    list-style-type: none;
    text-align: center;
    margin: 12px;
    background-color: #EAF9DE;
    border: 1px inset #96C670;
    border-radius: 25px;
}

#filters img {
    border-radius: 76px;
    width: 95px;
    height:50px;
}

#filters h5 {
    text-align: center;
    font-weight: bold;
    color: #646A5C;
    margin-bottom: 0;
}

#filters h4 {
    font-size: 10px;
    font-weight: 100;
    text-align: center;
    margin-top: 0;
}

#filters ul {
    padding:0;
}

#panel {
    display: none;
    width: 30px;
}

.toggle.btn {
    width: 65.7778px !important;
    height: 28.7778px !important;
}

#links a{
    padding: 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.header{
    background-color: #95C777;
    color:black;
    }
.navbar-inverse .navbar-nav > li > a{
        color:black;
        font-weight:500;
}
.been {
    float: left;
}
span.glyphicon.glyphicon-ok.been.grey{
    color:#CBD5DE;
}
span.glyphicon.glyphicon-ok.been.green{
    color:#009933;
}

